{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "settings": { "import/resolver": { "node": { "paths": ["src"] } } } ,
  "rules": {
    "prettier/prettier": ["error"],
    "react/jsx-filename-extension": 0,
  },
  "globals": {
    "document": true,
    "describe": true,
    "it": true,
    "expect": true,
    "jest": true,
    "beforeEach": true
  }
}
